@import "_mixins.scss";
@import "_animations.scss";
@import "_colors.scss";


@import "parts/_circles.scss";
@import "parts/_install.scss";

html,
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Playfair Display SC', serif;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  padding: 4px;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  border-radius: 10px;
  background: #000000;
  background: linear-gradient(top);
  background: -moz-linear-gradient(top, #000000 0%, #000000 80%, #dbdbdb 93%, #a3a3a3);

  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(0.80, #000000), color-stop(0.93, #dbdbdb), to(#a3a3a3));

  color: #ffffff;
  -o-border-radius: 10px;
}

body {
  background: url("../resources/images/dark-canvas.gif");
}

.hidden {
  display: none;
}

.shadowbox {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
}