    <nav>
    {{#link-to 'new.base' class="circle big shadowbox"}}
        <div>Nový projekt</div>
    {{/link-to}}
    {{#link-to 'projects' class="circle middle shadowbox"}}
        <div>Projekty</div>
    {{/link-to}}
    {{#link-to 'about' class="circle small shadowbox"}}
        <div>About</div>
    {{/link-to}}
</nav>